body{
	background-size: cover;
	background-image: url("../images/set.jpg");
}

h1{
	padding-top: 10px;
	text-align: center;
	font-size: 50px;
	color: white;
}
.main{
	background-color: #f8f9fa;
}
.navbar {
	padding: .8rem;
}
.navbar-nav li {
	padding-right: 20px;
}
.nav-link{
	font-size: 1.1em !important;
}

form{
	padding-left: 50px auto;
	width: 290px;
	color: white;
	border-radius: 100px 100px;
}

input{
	padding: 10px;
	font-size: inherit;
}

input[type="text"] {
	display: block;
	margin-bottom: 25px;
	width: 290px;
	border: 2px solid steelblue;
	border-radius: 20px 20px;
	color: black;
}


input[type="password"]{
	display: block;
	margin-bottom: 25px;
	width: 290px;
	border: 2px solid steelblue;
	border-radius: 20px 20px;
	color: black;
}


input[type="radio"]{
	margin: 0 8px 25px 18px;
}

input[type="radio"]: first-child{
	margin-left: 0;
}

input[type="submit"] {
	width: 290px;
	height: 45px;
	border: none;
	background: steelblue;
	color: white;
	border-radius: 20px 20px;
}

input[type=submit]:hover{
	background: rgb(0, 0, 0, 0.5);
}

.point{
	margin: auto;
	padding: auto;
	width: 450px;
	background: rgb(0, 0, 0, 0.5);
	padding: 50px;
}

input[type="Button"]{
	width: 290px;
	height: 45px;
	border: none;
	background: steelblue;
	color: white;
	border-radius: 20px 20px;
}

input[type=Button]:hover{
	background: rgb(0, 0, 0, 0.5);
}

input[type="Button"]{
	width: 290px;
	height: 45px;
	border: none;
	background: steelblue;
	color: white;
	border-radius: 20px 20px;

}

input[type=Button]:hover{
	background: rgb(0, 0, 0, 0.5);
}
