* {
	margin: 0px;
	padding: 0px;
}
body {
	background-image: url("../images/blur.jpg");
	background-size: cover;
}
.main {
	background-color: #f8f9fa;
}
.navbar {
	padding: .8rem;
}
.navbar-nav li {
	padding-right: 20px;
}
.nav-link{
	font-size: 1.1em !important;
}
h1 {
	font-size: 40px;
}
small{
	font-size: 112%;
	color: white;
}
.label {
	font-size: 20px;
	font-weight: normal;
}
}
.form-control{
	background : rgb(0,0,0,0.10);
	color: white;
	background: transparent;
	border: none;
	outline: none;
	margin: 5px;
	border-radius: 5px;
	font-size: 21px;
	border-bottom: 1px solid white;
	margin-bottom: 15px;
}
.btn {
	font-size: 19px;
	text-align: center;
	color: black;
}