body{
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../images/care.jpg");
        background-size: 100%, 100%;
	background-size: cover;
}
h1{
	text-align: center;
	font-size: 50px;
	color: black;
}
.navbar {
	padding: .8rem;
}
.navbar-nav li {
	padding-right: 20px;
}
.nav-link{
	font-size: 1.1em !important;
}
form{
	padding-left: 50px auto;
	width: 290px;
	color: white;
	border-radius: 100px 100px;
}
input[type="text"]{
	display: block;
	margin-bottom: 20px;
	width: 290px;
	border: 2px black;
	border-radius: 20px 20px;
	color: black;
	height: 35px;
}
input[type="username"]{
	display: block;
	margin-bottom: 20px;
	width: 290px;
	border: 2px black;
	border-radius: 20px 20px;
	color: black;
	height: 35px
}
input[type="email"]{
	display: block;
	margin-bottom: 20px;
	width: 290px;
	border: 2px black;
	border-radius: 20px 20px;
	color: black;
	height: 35px
}
input[type="radio"]{
	margin: 0 8px 25px 18px;
}

input[type="password"]{
	display: block;
	margin-bottom: 20px;
	width: 290px;
	border: 2px black;
	border-radius: 20px 20px;
	color: black;
	height: 35px;
}

input[type="radio"]{
	margin: 0 8px 25px 18px;
}
input[type="radio"]:first-child{
	margin-left: 0;
}
input[type="submit"]{
	width: 290px;
	height: 45px;
	border: none;
	background: black;
	color: black;
	border-radius: 20px 20px;
}

.point{
	margin: auto;
	padding: auto;
	width: 450px;
	background: rgb(0, 0, 0, 0.5); 
}
input[type="Button"]{
	width: 290px;
	height: 45px;
	border: none;
	background: steelblue;
	color: white;
	border-radius: 20px 20px;
}
input[type=Button]:hover{
	background: rgb(0, 0, 0, 0.5);
}
.submit {
	background-color: white!important;
	width: 80px!important;
	margin-bottom: 15px;
}